@model Product
@* ViewImports adı altın html sayfası açılıp kütüphaneleri oraya
entegre edince View klasörü içindeki tüm html dosyalarında sınıflar
çağırılabilmektedir.
@model StoreApp.Models.Product
aşaüıdaki gibi tekrar tekrar ktüphane çağrılmadan nesne
çağırılabilmektedir.


_ViewStart.cshtml yapıp defaultta otomatik atama yapar.
@{
Layout="_Layout";
}

atama yapmasını istemiyorsak
Layout=null
Örnek bu sayfada LAyout istemiyorsak null atamamız gerekir.
*@

<h3> @Model.ProductName</h3>
<p>@Model.Price</p>
<div class="btn-group">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
        <i class="fa-solid fa-house"></i>Home</a>
    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
        <i class="fa-solid fa-list"></i> Products</a>
</div>



@section header {
    <div>
        Header for only get
    </div>
}